.earth-quake-data {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    max-width: 100%;
    overflow-x: auto;
    display: block;
}

.earth-quake-data th,
.earth-quake-data td {
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

.earth-quake-data tbody tr:nth-child(odd) {
    background-color: #fff;
}

.earth-quake-data tbody tr:nth-child(even) {
    background-color: #eee;
}

.earth-quake-data th {
    background-color: #f4f4f4;
}

.load-more {
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.load-more:disabled {
    color: gray;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .earth-quake-data {
        font-size: 10pt;
        width: 100%;
        max-width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .earth-quake-data th,
    .earth-quake-data td {
        padding: 6px;
        text-align: left;
        word-break: break-word;
        white-space: normal;
    }

    .load-more {
        font-size: 12px;
    }
}
