.date-picker {
    padding: 2px;
}

.input-container {
    border: #eee solid thin;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    width: 270px;
    height: 30px;
    justify-items: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 2px;
}

.input-container ico {
    flex: 1;
    height: 30px;
}

.input-container input {
    flex: 3;
    border: none;
    height: 30px;
    font-size: 12pt;
    padding-left: 2px;
}

.input-container input:focus {
    border: none;
    outline: none;
    background-color: #eee;
}

.calendar {
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 2px;
}

/* 通用样式 */
.calendar-control-bar, 
.calendar-header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.calendar-control-bar div, 
.calendar-header-row div {
    flex: 1;
    height: 100%;
    text-align: center;
    align-content: center;
    align-self: center;
}

.calendar-control-bar div {
    cursor: pointer;
}

.calendar-control-bar div.title {
    flex: 5;
}

.calendar-control-bar div.title:hover {
    background-color: #eee;
}

.calendar-container.day, 
.calendar-container.month, 
.calendar-container.year {
    display: grid;
    place-items: center;
}

.calendar-container.day {
    flex: 6;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calendar-container.month, 
.calendar-container.year {
    flex: 7;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.calendar-container.day div, 
.calendar-container.month div, 
.calendar-container.year div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.calendar-container.day div {
    height: 32px;
    width: 32px;
}

.calendar-container.month div, 
.calendar-container.year div {
    height: 40px;
    width: 40px;
}

/* 通用选中样式 */
.calendar-container.day div.selected, 
.calendar-container.month div.selected, 
.calendar-container.year div.selected {
    color: #fff;
    background-color: #db3d44;
    border-radius: 50%;
}

.calendar-container.day div.today {
    color: #db3d44;
}

.calendar-container.day div.prev, 
.calendar-container.day div.next, 
.calendar-container.year div.prev, 
.calendar-container.year div.next {
    color: #eee;
}
