.calendar-container {
    width: 280px;
}
.calendar-container.month {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    cursor: pointer;
}
.canlendar-row {
    color:white;
    height: 40px;
    width: 100%;
    text-align: center;
    display: flex;
    font-size: small;
}
.calendar-column {
    color:black;
    background-color: #FFFFFF;
    flex:1;
    text-align: center;
    padding: 10px;
    margin: 1px;
    vertical-align: middle;
}
.calendar-column.paging {
    flex:1;
}
.calendar-column.title {
    flex:5;
}
.calendar-column.header {
    font-weight: bold;
}
.calendar-column:hover {
    cursor: pointer;
}
.calendar-column.title:hover, 
.calendar-column.title.selected {
    background-color: #EEEEEE;
    border-radius: 5%;
}
.calendar-column.date:hover {
    background-color: #df465060;
    border-radius: 50%;
}
.calendar-column.selected {
    background-color: #db3d44;
    color: white;
    border-radius: 50%;
}